@import "../../../Utils/variables";

.home-container{
    position: relative;
    top: 0;
    width: 100vw;
    max-width: 500px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    background-color: $bg-color;
}

.home-page-content{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    padding: 0px 25px;
    box-sizing: border-box;
}

.banner-container{
    width: 100%;
}

.recommended-title{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    a{
        color: $primary-color;
        text-decoration: none;
    }
}

.best-seller-title{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    a{
        color: $primary-color;
        text-decoration: none;
    }
}

.recommended-container{
    height: 160px;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 10px;
}
.best-seller-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
}

@media only screen and (max-width: $md) {

}

@media only screen and (max-width: $md) {

}

@media only screen and (max-width: $sm) {
}