@import "../../../Utils/variables";

.welcome-page-container{
    position: relative;
    top: 0;
    width: 100vw;
    max-width: 500px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: $bg-color;
}

.image-container{
    border-radius: 100px;
    img{
        width: 170px;
        height: 170px;
    }
}

.button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;

    Button{
        background-color: $primary-color;
    }
}

.button-container{
    button{
        width: 225px;
        padding: 20px 20px;
        border: none;
        color: $white;
        border-radius: 20px;
        cursor: pointer;
        font-weight: 600;
        box-shadow: 0px 350px 140px rgba(0, 0, 0, 0.01), 0px 197px 118px rgba(0, 0, 0, 0.05), 0px 88px 88px rgba(0, 0, 0, 0.09), 0px 22px 48px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    }
    button:nth-child(odd){
        background-color: $white;
        color: black
    }
}

@media only screen and (max-width: $lg) {

}

@media only screen and (max-width: $md) {

}

@media only screen and (max-width: $sm) {

}