@import "../../../Utils/variables";

.welcome-page-container{
    position: relative;
    top: 0;
    width: 100vw;
    max-width: 500px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: $bg-color;
}

.image-container{
    img{
        width: 170px;
        height: 170px;
    }
}

.button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;

    Button{
        background-color: $primary-color;
    }
}

@media only screen and (max-width: $lg) {

}

@media only screen and (max-width: $md) {

}

@media only screen and (max-width: $sm) {

}